@page "/Plan/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Creación de Planes</h3>

<PlanForm @ref="planForm" Plan="Plan" OnSubmit="Create" ReturnAction="Return" />

@code
{
    private Plan Plan = new();
    private PlanForm planForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Plan", Plan);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/Plan");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Plan");
    }
}
