@page "/Prize/create"

@inject IRepository repository

@inject NavigationManager navigationManager

@inject SweetAlertService sweetAlertService

<h3>Creación de Prizes</h3>

<PrizeForm @ref="prizeForm" Prize="Prize" OnSubmit="Create" ReturnAction="Return" />

@code
{
    private Prize Prize = new();
    private PrizeForm prizeForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Prize", Prize);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/Prize");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Prize");
    }
}
