@using Project.Shared.Entities

@inject SweetAlertService swal

<EditForm Model="Prize" OnSubmit="OnSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Descripcion:</label>
        <div>
            <InputText width="10" @bind-Value="Prize.DescripPriz" />
            <ValidationMessage For="@(() => Prize.DescripPriz)" />
        </div>
    </div>


    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" onclick="ReturnAction">Regresar</button>

</EditForm>

@code {
    [EditorRequired]
    [Parameter]
    public Prize Prize { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }
}
