@page "/Teams/create"

@inject IRepository repository

@inject NavigationManager navigationManager

@inject SweetAlertService sweetAlertService

<h3>Crear Equipo</h3>

<TeamForm @ref="teamForm" Team="team" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Team team = new();
    private TeamForm teamForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/Teams", team);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/Teams");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Teams");
    }
}
