@page "/Team/create"

@inject IRepository repository

@inject NavigationManager navigationManager

@inject SweetAlertService sweetAlertService

<h3>Creación de Teams</h3>

<TeamForm @ref="teamForm" Team="Team" OnSubmit="Create" ReturnAction="Return" />

@code
{
    private Team Team = new();
    private TeamForm teamForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Team", Team);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/Team");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Team");
    }
}
