@page "/Evaluations/create"




@inject IRepository repository

@inject NavigationManager navigationManager

@inject SweetAlertService sweetAlertService


<h3>Creación  Evaluaciones</h3>

<EvaluationForm @ref="evaluationForm" Evaluation="Evaluation" OnSubmit="Create" ReturnAction="Return" />


@code 
{

    private Evaluation Evaluation = new();
    private EvaluationForm evaluationForm;
    private async Task Create()
    {

        var responseHttp = await repository.PostAsync("/api/Evaluations", Evaluation);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/Evaluations");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Evaluations");
    }
}